NODE_ENV=development
DATABASE=mongodb://localhost:27017/apartments
HEROKU_URL=https://xxx.herokuapp.com/
#HEROKU_URL_ALTERNATIVE=https://xxx.herokuapp.com/
SWITCH_TIME_MILLIS=604800000
USE_ALTERNATIVE_APPS=false
TZ = GMT
DEVELOPING=yes
JWT_COOKIE_EXPIRES_IN=90
JWT_SECRET=longassstring
JWT_EXPIRES_IN=90d